a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.NavMenuColor
{
    background-color: limegreen;
}

.NavLinkFonts {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #f8f9fa !important;
}
.nav-item
{
    margin-top: 0px !important;
    outline: none;
}
    .nav-item:hover {
        background-color: rgb(40, 195, 40);
    }
    .nav-item:active {
        border: none;
    }