.DataListTable {
    width: 100%;
    font-size: 18px;
}

    .DataListTable tr td {
        padding: 5px;
    }

    .DataListTable thead tr:first-child {
        background-color: rgba(40,200, 0,0.6);
        color: rgb(240,240,240);
    }

    .DataListTable thead tr th {
        padding: 5px;
    }

    .DataListTable tr:nth-child(2n+1) {
        background-color: rgba(40,200, 0,0.1);
    }

    .DataListTable tr:hover {
        background-color: rgba(40,200, 0,0.3);
    }

.ActionIcon {
    cursor: pointer;
}

.EditIcon:hover {
    color: sandybrown;
}

.RemoveIcon:hover {
    color: firebrick;
}

.ViewIcon:hover {
    color: forestgreen;
}