@import url("https://fonts.googleapis.com/css?family=Roboto:400,600&display=swap");

/* Style the Dropdownmenu section */
.Dropdownmenu {
    display: flex;
    flex-direction: column;
}

.Dropdownmenu p {
    margin: 0 0;
}

/* Style the buttons that are used to open and close the Dropdownmenu panel */
.Dropdownmenu {
    background-color: rgba(40,200, 0,0.6);
    color: #444;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
    vertical-align: middle;
    text-align: center;
}

    .Dropdownmenu:nth-child(2n+1) {
        margin-top: 5px;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .Dropdownmenu:hover,
    .active {
        background-color: #ccc;
    }

/* Style the Dropdownmenu content title */
.DropdownmenuTitle {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

/* Style the Dropdownmenu chevron icon */
.Dropdownmenu__icon {
    margin-left: auto;
    transition: transform 0.6s ease;
}

/* Style the Dropdownmenu content panel. Note: hidden by default */
.DropdownmenuContent {
    background-color: white;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

/* Style the Dropdownmenu content text */
.Dropdownmenu__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
}

.DropdownmenuContentTable {
    table-layout: fixed;
    width: 100%;
}

    .DropdownmenuContentTable tr td:first-child {
        letter-spacing: 2px;
        font-size: 14px;
        font-weight: bold;
    }

    .DropdownmenuContentTable tr:nth-child(even) {
        background-color: rgba(40,200, 0,0.1);
    }
