@import url("https://fonts.googleapis.com/css?family=Roboto:400,600&display=swap");

/* Style the Dropdownmenu section */
.Dropdownmenu {
    display: block;
}

.Dropdownmenu p {
    margin: 0 0;
}

/* Style the buttons that are used to open and close the Dropdownmenu panel */
.Dropdownmenu {
    background-color: transparent;
    color: #f8f9fa;
    cursor: pointer;
    padding: 5px;
    align-items: center;
    border: none;
    outline: none !important;
    transition: background-color 0.6s ease;
    vertical-align: middle;
    position: relative;
    min-width: 100px;
}
    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .Dropdownmenu:hover,
    .active {
        outline: none;
        background-color: #32CD32 !important;
    }

/* Style the Dropdownmenu content title */
.DropdownmenuTitle {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

/* Style the Dropdownmenu chevron icon */
.Dropdownmenu__icon {
    margin-left: auto;
    transition: transform 0.6s ease;
}

/* Style the Dropdownmenu content panel. Note: hidden by default */
.DropdownmenuContent {
    background-color: white;
    overflow: hidden;
    position: absolute;
    transition: max-height 0.3s ease;
    box-shadow: 0px 0px 4px #000000;
}
    .DropdownmenuContent ul {
        min-width: 100px;
        list-style-type: none;
        padding-left: 5px;
        margin: 0;
    }